   <div class="container">
      <div class="row">
         <% @bicycles.each do |bicycle| %>
         <div class="card">
            #(input image)
            <strong class="card-text"><%= "#{bicycle.brand} #{bicycle.model}-#{bicycle.activity}  $#{bicycle.price}/day"%></strong>
            <p class="card-text"><%= "#{bicycle.gender} #{bicycle.size}" %></p>
            <p class="card-text"><%= bicycle.specs%></p>


         </div>
         <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          #paginate bicycles
        </div>
      </div>
   </div>